{% extends 'base.html' %}
{% load static %}
{% block mainContent %}
    <div id="card-reveal" class="section">
                  <div class="col s12">
                    <div class="row">
                      <div class="col s12">
                        <div class="card" style="padding-top: 5px">
                          <div class="card-image single-post-image">
                          <img src="{% static 'images/gallary/13.png' %}">
                        </div>
                        <div class="card-content">
                          <h5 class="center font-weight-400">EMMA STONE</h5>
                          <p class="center">Designer @ D&G</p>
                        <div class="divider mt-5"></div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}